.navbar-custom {
    background-color: #CC0000;
}

.banner {
    /* padding: 15%; */
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    display: block;
}

.spacer {
    width: 100%;
    height: 20px;
}

.main-logo-header {
    width: 100%;
    height: 50px;
    display: flex;
    /* height: 100%; */
}

.main-logo-header-items {
    display: flex;
    align-items: center;
}

#logo_anchor {
    text-decoration: none !important;
}

#team_logos_container {
    width: 100%;
    background-color: #ECEFF4;
    margin: 0;
}

/* Custom Logos Overflow Scrollbars */
#team_logos {
    margin-left: auto;
    margin-right: auto;
    margin: 4px, 4px;
    padding: 4px;
    max-width: fit-content;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-color: rgba(136, 133, 139, 0.233) rgb(255, 255, 255);
    scrollbar-width: thin;
}

#team_logos::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

#team_logos::-webkit-scrollbar-thumb {
    background: rgba(136, 133, 139, 0.233);
}

#img_miniature {
    height: 180px;
    /* display: block; */
    /* height: 150px; */
}

#card_background {
    background: #F5F7FA;
    max-width: 60%;
}

#first_container {
    margin-left: 19.4%;
    padding-right: 24.5%;
}

#started {
    display: flex;
    align-items: center;
}

#padding-Left {
    display: flex;
    /* margin-left: 10px; */
}

a.nav-link {
    display: flex;
    align-items: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    height: 44px;
    font-size: 17px;
}

ul.list-group {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

section.slider-container {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
}

.nav-toggle a {
    width: 58px;
    height: 60px;
    display: block;
    margin-left: -10px;
    top: 0;
    position: absolute
}

li {
    float: none;
    margin: 0;
    list-style-type: none;
}

/* li.nav-item {
    color: #fff;
} */